@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Helvetica Neue';
    src:
        url('/fonts/Idol/HelveticaNeueMedium.woff2') format('woff2'),
        url('/fonts/Idol/HelveticaNeueMedium.woff') format('woff'),
        url('/fonts/Idol/HelveticaNeueMedium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

select {
    -webkit-appearance: none;
    /* Remove default styling for Safari */
    -moz-appearance: none;
    /* Remove default styling for Firefox */
    appearance: none;
    /* Remove default styling for modern browsers */
}

html {
    scroll-behavior: smooth;
}

.custom-cookie-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-cookie-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-cookie-scrollbar::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 9999px;
    border: 2px solid transparent;
    /* Makes it blend in nicely */
    background-clip: content-box;
}

/* Firefox support */
.custom-cookie-scrollbar {
    scrollbar-color: white transparent;
    scrollbar-width: thin;
}